*{
	padding: 0px;
	margin: 0px;
}

html body{
	height: 100%;
	width: 100%;
}

.titulo{
	display: block;
	margin: auto auto;
	padding: 5px;
	width: auto;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	border: 1px solid;
    background: #252726;
    position: static;
}

.titulo h1{
	color: #FFC300;
	font-size: 30px;
}

.menu{
	padding: 0px;
	background: rgba(0,0,0,0.9);
	width: 100%;
	position: fixed;
    height: auto;
}

nav{
	float: left;
}

nav ul{
	list-style: none;
	/*limpiar errores del float*/
	overflow: hidden;
	position: relative;
	left: 11%;
}

nav ul li{
	float: left;
	font-family: 'Orbitron', sans-serif;
	font-size: 12px;
	
}

nav ul li a{
	display: block;
	padding: 20px;
	color: #fff;
	text-decoration: none;
    
    
}

nav ul li:hover{
	background: #ECC543;
}

.tema{
	display: block;
	margin: 0px;
	background-image: url(../img/updateTemas.jpg);
	background-size: cover;
	height: 586px;
}
.pregunta{
	display: block;
	margin: 0px;
    padding-top: 40px;
	background-image: url(../img/updatePreguntas.jpg);
	background-size: cover;
	height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.respuesta{
	display: block;
	margin: 0px;
	background-image: url(../img/updateRespuestas.jpg);
	background-size: cover;
	height: 586px;
}
.alumnos{
	display: block;
	margin: 0px;
	background-image: url(../img/alumnos.jpg);
	background-size: cover;
    height: 586px;
}
#texto{
	border: 1px solid white;
	width: 400px;
	padding: 14px;
	margin: 10px;
	position: absolute;
	top: 120px;
	left: 35%;
	background: rgb(0,0,0,0.4);
	font-family: 'Khand', sans-serif;
	font-size: 20px;
	color: white;
    text-align: center;
}
#titulo2{
    font-family: 'Khand', sans-serif;  
    font-size: 30px;
    color: aliceblue;
}
table {
    font-family: 'Khand', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: rgb(0, 0, 0, 0.4);
    color: floralwhite;
}

tr:nth-child(even) {
    background-color: rgb(0, 0, 0);
}

.tablaAlum{
    margin: 0;
    padding: 10rem;
    /* IMPORTANTE */
    text-align: center;
}

#lpregunta{
    font-family: 'Khand', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

.contenedorPregunta{
    margin: 0;
    padding: 3rem;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.4);
    height: auto;
}

#pregunta, #nPregunta, #submit{
    padding: 3px;
    border-radius: 6px;
    font-family: 'Khand', sans-serif;
    font-size: 20px;
}

#submit{
    margin: 3px;
    background-color: #252726;
    color: #FFC300;
    border-color: #252726;
}
#pregunta, #nPregunta{
    width: 300px;
}

